<ul id="nav-bar">
	<% if user ||= false %>
		<li <%= "class=selected" if active == "user" %>>
			<%= link_to user_path(user) do %>
				<%= gravatar_for user %>
			<% end %>
		</li>
		<li <%= "class=selected" if active == "users_levels" %>>
			<%= link_to "ISI Progress", user_progress_path(user) %>
		</li>
		<li <%= "class=selected" if active == "users_test_levels" %>>
			<%= link_to "Test Progress", user_test_progress_path(user) %>
		</li>
		<li <%= "class=selected" if active == "routines" %>>
			<%= link_to "Routines", user_routines_path(user) %>
		</li>
	<% end %>	
	<% if users_level ||= false %>
		<li <%= "class=selected" if active == "users_level" %>>
			<%= link_to users_level.level.name, users_level_path(users_level) %>
		</li>
	<% end %>
	<% if users_test_level ||= false %>
		<li <%= "class=selected" if active == "users_test_level" %>>
			<%= link_to users_test_level.test_level.name, users_test_level_path(users_test_level) %>
		</li>
	<% end %>
	<% if users_skill ||= false %>
		<li <%= "class=selected" if active == "users_skill" %>>
			<%= link_to users_skill.skill.name, users_skill_path(users_skill) %>
		</li>
	<% end %>
	<% if users_field_move ||= false %>
		<li <%= "class=selected" if active == "users_field_move" %>>
			<%= link_to users_field_move.field_move.name, users_field_move_path(users_field_move) %>
		</li>
	<% end %>
	<% if routine ||= false %>
		<li <%= "class=selected" if active == "new_routine" %>>
			<%= link_to "New Routine", new_routine_path %>
		</li>
	<% end %>
</ul>