<%= render partial: "static_pages/nav", locals: {user: @user, routine: @routine, active: "new_routine"} %>

<div id="content">
	<div class="routine">
		<div id="groups">
			<ul id="group-list">
				<% @all_groups.each do |group| %>
					<li id="<%= group.class %>-<%= group.id %>" class="group-item"><%= group.name %></li>
				<% end %>
			</ul>
		</div><!--
		--><div id="to-align-vertically">
			<div id="elements">
				<ul id="element-list">
					<% @all_elements.each do |element| %>
						<li class="element-item <%= element.group.class %> <%= element.group.id %>" type="<%= element.class %>" type-id="<%= element.id %>"><%= element.name %> 
							<a class="delete-element">X</a>
						</li>
					<% end %>
					<li id="custom-element" class="element-item draggable"><div id="add-custom-text">Add Your Own</div><input type="text" placeholder="Add Your Own" class="custom-input" style="display: none;"></li>
				</ul>
			</div><!--
			--><div id="spacer">
			</div><!--
			--><div id="routine-space">
				<div id="routine-info">
					<%= render partial: "routines/form", locals: {routine: @routine} %>
				</div><div id="routine-box">
					<% if @routine_elements ||= false %>
					<% @routine_elements.each do |element| %>
						<% if element.custom_name != nil %>

						<% else %>
							<% elem = element.elementable %>
							<li class="routine-item <%= elem.group.class %> <%= elem.group.id %>" type="<%= elem.class %>" type-id="<%= elem.id %>" element-id="<%= element.id %>" style="position: absolute; top: <%= element.top %>px; left: <%= element.left %>px" top="<%= element.top %>" left="<%= element.left %>"><%= elem.name %> <a class="delete-element">X</a></li>
						<% end %>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>