<% provide(:title, @user.name) %>
<%= gravatar_for @user %>
<%= @user.name %>, <%= @user.email %>

<% if @user == current_user %>
	<%= link_to "Edit", edit_user_path %>
<% end %>
<div id="progress">
	<h2>Progress on Levels</h2>	
	<% @users_levels.each do |users_level| %>
	<li><div class="user-level-name"><%= users_level.level.name %></div>
		<div class="user-level-progress">
			<progress class="user-level-bar" value="<%= users_level.learned_points %>" max="<%= users_level.total_points %>"></progress>
			<%= users_level.learned_points %> / <%= users_level.total_points %></div></li>
	<% end %>
</div>
<%  %>