<% provide(:title, @user.name) %>
<%= gravatar_for @user %>
<%= @user.name %>, <%= @user.email %>

<% if @user == current_user %>
	<%= link_to "Edit", edit_user_path %>
<% end %>
<div id="progress">
	<h2>Progress on Levels</h2>	
	<% @levels.each do |level| %>
	<li><%= level.name %></li>
	<% end %>
</div>
<%  %>