<% provide(:title, @user.name) %>
<%= render partial: "static_pages/nav", locals: {user: @user, users_levels: @user.users_levels, active: "user"} %>

<div id="content">
	<div id="profile-picture">
		<img src="http://public.slidesharecdn.com/b/images/user-96x96.png">
	</div><!--
--><div id="user-info-stats">
		<h1><%= @user.name %></h1>
		<ul id="user-info-stats-list">
			<li><%= @user.email %></li>
			<li>Joined <%= @user.created_at.strftime("%m/%d/%Y") %></li>
			<% if @user.started_skating %><li>Started skating <%= @user.started_skating.strftime("%b-%Y") %></li><% end %>
			<li><%= @user.notes.where(public: true).count %> Shared Notes</li>
		</ul>
		<% if @user == current_user %>
			<%= link_to "Edit", edit_user_path %>
		<% end %>
	</div>

	<% if @user == current_user %>
		<div id="coaching">
			<% if @user.coaches.empty? == false %>
				<h2>Coaches</h2>
				<% @user.coaches.each do |coach| %>
					<%= render partial: "coachings/coach", locals: {user: @user, coaching: Coaching.find_by(skater_id: @user.id, coach_id: coach.id)} %>
				<% end %>
			<% end %>
			<% if @user.skaters.empty? == false %>
				<h2>Skaters</h2>
				<% @user.skaters.each do |skater| %>
					<%= render partial: "coachings/skater", locals: {user: @user, coaching: Coaching.find_by(skater_id: skater.id, coach_id: @user.id)} %>
				<% end %>
			<% end %>
		</div>
	<% elsif current_user.coaches.include?(@user) %>
		<h3>This person is your coach</h3>
	<% elsif current_user.skaters.include?(@user) %>
		<h3>This person is your student</h3>
	<% else %>
		<%= form_for @coaching do |f| %>
			<%= f.hidden_field :skater_id, value: current_user.id %>
			<%= f.hidden_field :coach_id, value: @user.id %>
			<%= f.hidden_field :skater_confirmed, value: true %>
			<%= f.submit "Add #{@user.name} as coach" %>
		<% end %>
		<%= form_for @coaching do |f| %>
			<%= f.hidden_field :skater_id, value: @user.id %>
			<%= f.hidden_field :coach_id, value: current_user.id %>
			<%= f.hidden_field :coach_confirmed, value: true %>
			<%= f.submit "Add #{@user.name} as student" %>
		<% end %>
	<% end %>
</div>