<% provide(:title, @user.name) %>
<%= gravatar_for @user %>
<%= @user.name %>, <%= @user.email %>

<% if @user == current_user %>
	<%= link_to "Edit", edit_user_path %>
<% end %>
<div id="progress">
	<h2>Progress on Levels</h2>	
	<ul>
		<% @users_levels.each do |users_level| %>
		<li>
			<div class="user-level-name">
				<%= link_to "#{users_level.level.name}", users_level_path(users_level.level) %>
			</div>
			<div class="user-level-progress">
				<progress class="user-level-bar" value="<%= users_level.learned_points %>" max="<%= users_level.total_points %>"></progress>
			</div>
		</li>
		<% end %>
	</ul>
</div>
<%  %>