<div id="level-link">
	<%= link_to "<< #{@users_skill.users_level.level.name}", users_level_path(@users_skill.users_level.level) %>
</div>
<h3>Notes for <%= @users_skill.skill.name %></h3>

<div id="user-notes-list">
	<h4>My Notes</h4>
	<ul id="user-notes-ul">
		<% @users_skill.notes.each do |note| %>
		<li>
			<%= render partial: "notes/show", locals: {note: note } %>
		</li>
		<% end %>
	</ul>
</div>

<div id="public-notes-list">
	<h4>Other Notes</h4>
	<ul>
		<% @public_notes.each do |note| %>
		<li>
			<%= render partial: "notes/show", locals: {note: note} %>
		</li>
		<% end %>
	</ul>
</div>

<div id="add-note-container">
	<%= render partial: "notes/new", locals: {note: @note, notable: @users_skill } %>
</div>