<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div id="left-header"><a href="/"><h1 id="title">EdgeTracer</h1></a></div><!--
	--><div id="right-header">
		<ul id="right-header-list">
			<% if current_user %>
				<li>
					<%= link_to user_path(current_user) do %>
						<div id="user-picture">
							<%= gravatar_for current_user %>
						</div>
					<% end %>
				</li>
		 		<li>
			 		<%= link_to signout_path, method: "delete" do %>
						<div id="log-out-icon" class="icon">Logout</div>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	</div>

	<div id="background"><%= image_tag "winter.jpg" %></div>

	<div class="container">
	<%= yield %>
	</div>

</body>
</html>
