<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div id="left-header"><h1 id="title">EdgeTracer</h1></div><!--
		--><div id="right-header">
		<% if current_user %>
			<%= link_to user_path(current_user) do %>
			<div id="profile-icon" class="icon">Profile</div>
			<% end %>

		 	<%= link_to signout_path, method: "delete" do %>
			<div id="log-out-icon" class="icon">Logout</div>
			<% end %>
		<% end %>
		</div>
	</div>

	<div id="background"><%= image_tag "winter.jpg" %></div>

	<div class="container">
	<%= yield %>
	</div>

</body>
</html>
